@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    /* optional for cleaner font */
    background-color: #f3f4f6;
    /* Tailwind gray-100 */ }